<html>

<head>
    <title>lab4</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/registration.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">Lab4</a>
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav">
            <li class='nav-item'><a class="nav-link" href="registration.html"><span class="glyphicon glyphicon-log-in"></span>
                    Register</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <div class="heading">
                <h3>Hotels </h3><button type="button" class="btn btn-outline-dark stacked_view">Stacked View</button>
                <button type="button" class="btn btn-outline-dark horizontal_view">Horizontal View</button>
            </div>
        </div>
        <div class="hotels_container">
            <div class="row inner_container" style="margin:0;">

            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>
            var i;
            emptyHotels();
            for (i = 0; i < 10; i++) {
                addCardView2();
            } 

        function addCardView1() {
            $('.hotels_container .inner_container').append(
                '<div class="card col-sm-4 col-md-4 col-lg-3" >\
                    <img class="card-img-top" src="/images/photo2.jpg" alt="Card image cap">\
                    <div class="card-body">\
                        <h5 class="card-title">Hotel title</h5>\
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card\'s content.</p>\
                    </div>\
                    <ul class="list-group list-group-flush">\
                        <li class="list-group-item">Cras justo odio</li>\
                        <li class="list-group-item">Dapibus ac facilisis in</li>\
                    </ul>\
                    <div class="card-body">\
                        <a href="#" class="card-link">Card link</a>\
                        <a href="#" class="card-link">Another link</a>\
                    </div>\
                </div>'
            );
        }

        function addCardView2() {
            $('.hotels_container .inner_container').append('\
                <div class="card mb-3">\
                    <div class="row">\
                        <img class="card-img-top hotel-image col-6" src="images/photo.jpg" alt="Hotel image cap">\
                        <div class="col-6"> <h2>A list of items in the hotel</h2><ul><li>item</li><li>item</li><li>item</li></ul></div>\
                    </div>\
                    <div class="card-body">\
                        <h5 class="card-title">Hotel title</h5>\
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to\
                            additional content. This content is a little bit longer.</p>\
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>\
                    </div>\
                </div>'
            )};


        function emptyHotels() {
            $('.hotels_container .row').empty();
        }

        $('.horizontal_view').click(function(){
            var i;
            emptyHotels();
            for (i = 0; i < 10; i++) {
                addCardView2();
            } 
        });

        $('.stacked_view').click(function(){
        var i;
        emptyHotels();
        for (i = 0; i < 10; i++) {
            addCardView1();
        } 
        });
    </script>
</body>

</html>