<%- include partials/header %>
  <div class="container">
    <div class="jumbotron">
      <form class="reg-form" action="./register-hotel" method="POST">
        <div class="form-group">
          <div class="form-group row">
            <label for="hotelname" class="col-2 col-form-label">Hotel Name</label>
            <div class="col-6">
              <input class="form-control" name="hotelname" type="text" id="hotelname" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="country" class="col-2 col-form-label">Country</label>
            <div class="col-6">
              <input class="form-control" name="country" type="text" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-2 col-form-label">City</label>
            <div class="col-6">
              <input class="form-control" name="city" type="text" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="district" class="col-2 col-form-label">District</label>
            <div class="col-6">
              <input class="form-control" name="district" type="text" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="street" class="col-2 col-form-label">Street</label>
            <div class="col-6">
              <input class="form-control" name="street" type="text" required />
            </div>
          </div>
          <div class="form-group row">
            <label for="stars" class="col-2 col-form-label">Stars</label>
            <div class="col-6">
              <input class="form-control" name="stars" type="text" required />
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-2 col-form-label">Desciption</label>
            <div class="col-6">
              <textarea class="form-control" name="description" rows="6" cols="30" required></textarea>
            </div>
          </div>


          <div class="form-group row">
            <label for="facilities" class="col-2 col-form-label">Facilities</label>
            <div class="col-6">
              <div class="form-check-inline">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="pool" name="pool" />
                  <label class="form-check-label" for="pool"> Pool </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="restaurant" name="restaurant" />
                  <label class="form-check-label" for="restaurant">
                    Restaurant
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="bar" name="bar" />
                  <label class="form-check-label" for="bar"> Bar </label>
                </div>
              </div>

              <br />

              <div class="form-check-inline">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="kidsArea" name="kidsArea" />
                  <label class="form-check-label" for="kidsArea">
                    Kids Area
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gym" name="gym" />
                  <label class="form-check-label" for="gym"> Gym </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="spa" name="spa" />
                  <label class="form-check-label" for="spa"> Spa </label>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-2 col-form-label"></div>
            <div class="col-6">
              <button type="submit" class="btn btn-dark btn-block">
                Register Hotel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>