.reservations_body {
    border-bottom: 2px solid rgb(221, 214, 214);
}

.cancel_button {
    margin-top: 20px;
}

.profile_navbar_item {
    color: black;
}

.star_checked {
    color: orange;
}

 .rate_visit {
     display: none;
}
.rate_button{
    margin-top: 10px;
}
.fa.fa-star:hover{
    cursor: pointer;
}
.customer_review{
    padding: 5px;
    margin: auto;
    width: 50%;
    height:35px;
}
.visibilityClass{
    display: none;
}


.any_btn:hover{
    color:#e08106;
}
